@import '_reset';
@import '_fonts';


body{
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background: rgb(255,182,224);
   background: radial-gradient(circle, rgba(255,182,224,1) 0%, rgba(202,229,242,1) 100%);
}


#container{
   display: flex;
   justify-content: center;
   height: 80%;
   box-shadow: -50px 120px 100px -100px #00000059;

   border:solid #edf0fa62;
   border-width: 3px 0px 0px 3px;
   border-radius: 3rem;
   
//  --------------
// |main container|
//  --------------
.container_main{
      display: flex;
      flex-direction: column;
      background-color: rgba(255, 255, 255, 0.253);
      width: 48vw;
      padding: 4rem 10rem;
      h1{
         font-size: 5rem;
      }
      h2{
         font-size: 3rem;
      }
      p{
         font-size: 3rem;
         width: 100%;
      }
      .container-main-searchbox{
         display: flex;
         align-items: center;
         margin: 8rem 0rem 6rem -1rem;
         padding: 0rem 3rem;
         background-color: rgba(247, 247, 247, 0.849);
         border: 2px solid white;
         border-radius: 8rem;
         i{
            font-size: 3rem;
            color: gray;
            margin-right: 4rem;
         }
         input{
            flex-grow: 2;
            border: none;
            outline: none;
            font-size: 2.5rem;
            background-color: transparent;
         }
         button{
            border: none;
            border-radius: 8rem;
            padding: 2rem 3rem;
            margin: 1rem -2rem;
            font-size: 2.5rem;
            color: white;
            background: rgb(38,34,92);
            background: linear-gradient(
               51deg, #26225c 35%, #4719a6);
         }
      }
      .container_main-text{
         p{
            padding: 2rem;
            text-align: center;
            background-color: rgba(128, 128, 128, 0.116);
            border-radius: 1.5rem;
            color: rgb(0, 0, 0);
            font-size: 2rem;
         }
      }
}
//  --------------
// |main container END|
//  --------------
   aside{
      display: flex;
      flex-direction: column;
      padding: 4rem;
      text-align: center;
      li{
         font-size: 3rem;
      }
   }
   #aside-left{
      display: flex;
      
      background-color: #d9afd91a;
      background-image: linear-gradient(0deg, #d9afd928 0%, #97dae118 100%);
      border-radius: 3rem 0rem 0rem 3rem;
      width: 40rem;
      padding: 4rem 6rem ;
      i{
         display: flex;
         justify-content: center;
         align-items: center;
         border-radius: 50%;
         margin: 1.5rem 0rem;
         
         background-color: white;
         color: #9193a8;
         width: 6rem;
         height: 6rem;
         font-size: 3rem;
      }
      .aside-left-icon{
         display: flex;
         align-items: center;
         margin: .5rem 0rem;
         transition: 1s;
         opacity: 0.8;
         p{
            font-size: 2.2rem;
            margin-left: 2rem;
            cursor: pointer;
            
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
         }
      }
      .aside-left-icon:hover{
         transform: translateX(1rem);
         transition: 1s;
      }
      .aside-left-icon-first{
         P{
            cursor:default;
            font-size: 2.5rem;
         }
         margin-bottom: 3rem;
         i{
            background: rgb(39,33,95);
            background: linear-gradient(59deg, rgba(39,33,95,1) 0%, rgba(69,24,164,1) 70%);
            color: white;
            padding: 3.5rem;
         }
      }
      .aside-left-icon-first:hover{
         transform: translateX(0rem);
      }

   }
   #aside-right{
      background-color: #faf3f9dc;
      border-radius: 0rem 3rem 3rem 0rem;
   }
   .selected{
      font-weight: 600;
      text-shadow: 1px 1px 2px  rgba(0, 0, 0, 0.438);
      transition: none;
      opacity: 1;
   }
   .selected-icon{
      color: #5214cf !important;
   }
}