* {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  height: 100vh;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-x: hidden;
  overflow-y: scroll;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  scroll-snap-align: start;
  height: 100vh;
  color: #463232;
}

#homepage {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(../images/p1.jpg);
  background-size: cover;
  background-color: antiquewhite;
  font-size: 7rem;
}

#homepage .homepage-header {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 3rem;
}

#homepage .homepage-header .homepage-header__center-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#homepage .homepage-header .homepage-header__center-item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#homepage .homepage-header .homepage-header__center-item li {
  list-style-type: none;
  padding: 0rem 4rem;
}

#homepage nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 10rem;
  padding: 3rem 0rem;
}

#homepage .homepage__content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0rem 7rem 0rem 0rem;
}

#homepage .homepage__left-side {
  margin: 2rem 0rem 0rem 5rem;
  width: 35rem;
  font-size: 2.5rem;
}

#homepage .homepage__left-side .homepage-searchbox {
  margin-top: 2rem;
}

#homepage .homepage__left-side .homepage-searchbox input {
  border: none;
  border-radius: .1rem;
  padding: 1rem;
  position: relative;
}

#homepage .homepage__left-side .homepage-searchbox button {
  border: none;
}

#homepage .homepage__left-side .homepage-searchbox i {
  background-color: white;
  padding: 1.1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

#homepage .homepage__left-side .homepage__view-detail-btn {
  border: none;
  background-color: #463232;
  color: white;
  padding: 1rem;
  margin-top: 2rem;
}

#homepage .homepage__right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 6rem 0rem 0rem 47rem;
}

#homepage .homepage__right-side .horizontal-row {
  opacity: 0;
  margin: 1rem;
  border-top: 1px black solid;
  width: 6rem;
  -webkit-transition: 1s;
  transition: 1s;
}

#homepage .homepage__right-side .homepage-activeRow {
  -webkit-animation: moveInRight 2s;
          animation: moveInRight 2s;
  opacity: 1;
}

#homepage .homepage__right-side .homepage__right-side-text {
  opacity: 0;
}

#homepage .homepage__right-side .homepageRigtSideText-active {
  opacity: 1;
  -webkit-animation: moveInRight 2s;
          animation: moveInRight 2s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

#homepage .homepage__right-side i {
  color: #e19772;
  font-size: 4rem;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

#homepage .homepage__right-side .rotate-icon {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#about-us {
  background-color: antiquewhite;
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=main.css.map */