@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@600;700&family=Didact+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap");
html {
  scroll-behavior: smooth;
  font-family: 'Didact Gothic', sans-serif;
}

:root {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 2rem;
  border: 3px solid white;
}

button {
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.container {
  height: 100vh;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-x: hidden;
  overflow-y: scroll;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  scroll-snap-align: start;
  height: 100vh;
  color: #463232;
}

#homepage {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(../images/p1.jpg);
  background-position: center;
  background-size: cover;
  background-color: antiquewhite;
}

#homepage .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: rgba(255, 255, 255, 0.842);
  list-style: none;
  padding-top: 4rem;
}

#homepage .menu ul {
  list-style: none;
}

#homepage .menu li {
  margin: 2rem;
}

#homepage .menu a {
  text-decoration: none;
  color: #463232;
  font-size: 3rem;
}

#homepage .show-menu {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#homepage .hamburger-buttons {
  position: fixed;
  z-index: 100;
  font-size: 1.8rem;
  padding: 4px;
  background: transparent;
  border: none;
  cursor: pointer;
}

#homepage .hamburger-buttons .close-icon {
  display: none;
}

#homepage .homepage-header {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 3rem;
  font-size: 2rem;
}

#homepage .homepage-header .nav-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

#homepage .homepage-header .homepage-header__center-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Raleway', sans-serif;
  width: 65rem;
}

#homepage .homepage-header .homepage-header__center-item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#homepage .homepage-header .homepage-header__center-item li {
  list-style-type: none;
  padding: 0rem 4rem;
  cursor: pointer;
}

#homepage .homepage-header .homepage-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0rem 2rem;
}

#homepage .homepage-header .homepage-icons div {
  margin-left: 2rem;
  cursor: pointer;
}

#homepage nav {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 6rem;
}

#homepage .homepage__content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10rem 5rem;
}

#homepage .homepage__left-side {
  margin: 2rem 0rem 0rem 5rem;
  width: 35rem;
  font-size: 2.5rem;
}

#homepage .homepage__left-side .homepage-searchbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  border: 2px solid white;
}

#homepage .homepage__left-side .homepage-searchbox input {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  border: none;
  padding: 1rem;
}

#homepage .homepage__left-side .homepage-searchbox button {
  border: none;
}

#homepage .homepage__left-side .homepage-searchbox i {
  background-color: #463232;
  color: white;
  padding: 1.1rem;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
}

#homepage .homepage__left-side .homepage__view-detail-btn {
  border: none;
  background-color: #463232;
  color: white;
  padding: 1rem;
  margin-top: 2rem;
}

#homepage .homepage__left-side .homepage__view-detail-btn:hover {
  background-color: transparent;
  color: #463232;
  border: 1px solid #463232;
}

#homepage .homepage__right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  width: 60rem;
}

#homepage .homepage__right-side p {
  width: 30rem;
  height: 3rem;
}

#homepage .homepage__right-side .horizontal-row {
  opacity: 0;
  margin: 1rem;
  border-top: 1px black solid;
  width: 6rem;
  -webkit-transition: 1s;
  transition: 1s;
}

#homepage .homepage__right-side .homepage-activeRow {
  -webkit-animation: moveInRight 2s;
          animation: moveInRight 2s;
  opacity: 1;
}

#homepage .homepage__right-side .homepage__right-side-text {
  opacity: 0;
}

#homepage .homepage__right-side .homepageRigtSideText-active {
  opacity: 1;
  -webkit-animation: moveInRight 2s;
          animation: moveInRight 2s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

#homepage .homepage__right-side i {
  color: #e19772;
  font-size: 4rem;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

#homepage .homepage__right-side .rotate-icon {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#some-of-our-lenders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25%;
  background-color: antiquewhite;
  font-size: 3rem;
  padding: 10rem;
  font-family: sans-serif;
}

#some-of-our-lenders h3 {
  margin: 1.5rem;
}

#some-of-our-lenders .some-of-our-lenders__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#some-of-our-lenders .some-of-our-lenders__logos .chase-logo {
  width: 11rem;
  height: 2rem;
}

#some-of-our-lenders .some-of-our-lenders__logos .asana-logo {
  width: 10rem;
  height: 2rem;
}

#some-of-our-lenders .some-of-our-lenders__logos .google-logo {
  width: 9rem;
  height: 3rem;
}

#some-of-our-lenders .some-of-our-lenders__logos .buzzfeed-logo {
  width: 10rem;
  height: 2rem;
}

#some-of-our-lenders .some-of-our-lenders__logos .toggl-logo {
  width: 8rem;
  height: 3rem;
}

#some-of-our-lenders .some-of-our-lenders__logos .walmart-logo {
  height: 8rem;
  width: 16rem;
  margin-top: -1rem;
}

#some-of-our-lenders .some-of-our-lenders__logos img {
  margin: 2rem 4rem;
}

#about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about-us .about-us__buy-now {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0rem 9rem;
}

#about-us .about-us__buy-now h1 {
  font-size: 8rem;
}

#about-us .about-us__buy-now p {
  font-size: 2.5rem;
  margin-top: 1rem;
  width: 40rem;
}

#about-us .about-us__buy-now button {
  border: none;
  font-size: 2rem;
  padding: 1rem;
  margin-top: 2rem;
  background-color: #463232;
  color: white;
  -webkit-box-shadow: 0.5rem 1.5rem 3rem rgba(0, 0, 0, 0.247);
          box-shadow: 0.5rem 1.5rem 3rem rgba(0, 0, 0, 0.247);
  cursor: pointer;
}

#about-us .about-us__buy-now button:hover {
  background-color: transparent;
  color: #463232;
  border: 1px solid #463232;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#about-us .about-us__buy-now .about-us__left-img {
  width: 47rem;
  height: 43rem;
  margin-top: 4rem;
}

#about-us .about-us__texts-read-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 2rem;
  margin-left: 13rem;
}

#about-us .about-us__texts-read-more .about-us__rigt-img {
  margin-top: 1rem;
  width: 47rem;
  height: 43rem;
}

#about-us .about-us__texts-read-more p {
  width: 36rem;
  font-size: 1.8rem;
  margin-top: 1rem;
}

#about-us .about-us__texts-read-more button {
  border: 1px solid #463232;
  font-size: 1.8rem;
  padding: 1rem;
  margin-top: 2rem;
  background: transparent;
  color: #463232;
  cursor: pointer;
}

#about-us .about-us__texts-read-more button:hover {
  background-color: #463232;
  color: white;
  border: 1px solid #463232;
}

#products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 130vh;
  padding-bottom: 3rem;
  scroll-margin-bottom: 40vh;
}

#products h1 {
  text-align: center;
  font-size: 6rem;
  margin: 1rem;
}

#products h3 {
  color: #255764;
}

#products .products-nav__text {
  font-size: 2rem;
  margin: .5rem;
}

#products .products-image-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#products .products-image-caption .products_sub-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
}

#products .products-image-caption .products_sub-text p {
  font-size: 1.5rem;
}

#products .products-image-caption .products_sub-text .products-border {
  border-bottom: 2px solid black;
  width: 5rem;
  margin: .5rem;
}

#products .products-image-caption .products-image-caption__shop-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

#products .products-image-caption .products-image-caption__shop-btns button {
  padding: 1rem;
  margin: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

#products .products-image-caption .products-image-caption__shop-btns .shop-btns__add-to-cart {
  color: #463232;
  background: transparent;
  border: 1px solid #463232;
}

#products .products-image-caption .products-image-caption__shop-btns .shop-btns__add-to-cart:hover {
  background-color: #463232;
  color: white;
}

#products .products-image-caption .products-image-caption__shop-btns .shop-btns__buy-now {
  background-color: #463232;
  border: none;
  color: whitesmoke;
}

#products .products-image-caption .products-image-caption__shop-btns .shop-btns__buy-now:hover {
  background-color: transparent;
  color: #463232;
  border: 1px solid #463232;
}

#products .products-image-caption .products-left,
#products .products-image-caption .products-right {
  margin: 0rem 10rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#products .products-image-caption .products-left {
  width: 50%;
}

#products .products-image-caption .products-left img {
  margin-top: 3rem;
  width: 40rem;
  height: 40rem;
}

#products .products-image-caption .products-left h1 {
  text-align: left;
}

#products .products-image-caption .products-left .products-short-specifics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#products .products-image-caption .products-right img {
  margin-top: 3rem;
  width: 40rem;
  height: 40rem;
}

#products .products-image-caption .products-right h1 {
  text-align: left;
}

#products .products-image-caption .products-left__text,
#products .products-image-caption .products-right__text {
  width: 40rem;
  font-size: 1.5rem;
}

#products .products-image-caption .products-short-specifics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-size: 1rem;
  display: flex;
}

#products .products-image-caption .products-short-specifics .products_sub-text {
  width: 50%;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#products .products-image-caption .products-short-specifics .products_sub-text h3 {
  font-size: 2rem;
}

#provides-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#provides-page p {
  opacity: 80%;
}

#provides-page .provide-page-first-row {
  width: 100%;
  background-color: #FFFBF7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 3rem;
  padding: 3rem 4rem;
  text-align: center;
}

#provides-page .provide-page-first-row .provides-page-wrapper {
  height: 6rem;
  border-left: 2px solid black;
  margin: 0rem 4rem;
}

#provides-page .provide-page-second-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0rem 15rem;
  margin-top: 4rem;
}

#provides-page .provide-page-second-row img {
  -webkit-box-shadow: antiquewhite -3rem 3rem 0rem;
          box-shadow: antiquewhite -3rem 3rem 0rem;
  width: 50rem;
  height: 50rem;
}

#provides-page .provide-page-second-row .provide-page-second-row__text {
  margin-left: 6rem;
  width: 35rem;
}

#provides-page .provide-page-second-row .provide-page-second-row__text h1 {
  font-size: 5rem;
}

#provides-page .provide-page-second-row .provide-page-second-row__text p {
  font-size: 2rem;
}

#provides-page .provide-page-second-row .provide-page-second-row__text button {
  border: 1px solid #463232;
  padding: 1rem 3rem;
  background-color: #463232;
  color: white;
  margin-top: 2rem;
}

#provides-page .provide-page-second-row .provide-page-second-row__text button:hover {
  background-color: transparent;
  color: #463232;
  border: 1px solid #463232;
}

#customers-page {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #FFFBF7;
}

#customers-page .customers-page__quotes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#customers-page .customers-page__text h1 {
  font-size: 5rem;
}

#customers-page .customers-page__text p {
  font-size: 2rem;
  width: 61rem;
  margin-top: 2rem;
  opacity: 80%;
}

#customers-page .customers-page__sample-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#customers-page .customers-page__sample-comment {
  font-size: 2rem;
  text-align: left;
  margin-top: 4rem;
}

#customers-page .customers-page__sample {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40rem;
  height: 40rem;
  padding: 3rem;
  margin-top: 6rem;
  background-color: white;
  position: relative;
}

#customers-page .customers-page__sample .customers-page__sample-stars,
#customers-page .customers-page__sample .customers-page__sample-comment,
#customers-page .customers-page__sample .customers-page__sample-profile {
  position: absolute;
}

#customers-page .customers-page__sample .customers-page__sample-stars i {
  color: #FF8974;
}

#customers-page .customers-page__sample .customers-page__sample-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 2rem;
}

#customers-page .customers-page__sample .customers-page__sample-profile img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

#customers-page .customers-page__sample .customers-page__sample-profile .customers-page__sample-profile-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  margin-left: 2rem;
  font-size: 1.5rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
  scroll-snap-align: start;
  width: 100%;
  position: relative;
}

footer .footer-container__first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

footer .footer-container__first-row .footer-container__first-row-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .footer-container__first-row .footer-container__first-row-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-container__first-row .footer-container__first-row-content h2 {
  font-size: 3rem;
}

footer .footer-container__first-row .footer-container__first-row-content p {
  font-size: 2rem;
}

footer .footer-container__first-row .footer-container__first-row-content ul {
  list-style-type: none;
}

footer .footer-container__first-row .footer-container__first-row-content ul li {
  font-size: 2rem;
  opacity: 70%;
}

footer .footer-container__first-row .footer-container__first-row-content ul .footer-go-to-up {
  margin-top: 1.5rem;
}

footer .footer-container__first-row .footer-container__first-row-content ul .footer-go-to-up a {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 0.7rem;
  font-size: 1.5rem;
}

footer .footer-container__first-row .footer-container__first-row-content .footer__wildling-text {
  width: 30rem;
}

footer .footer-container__first-row .footer-container__first-row-content .footer-icons {
  margin-top: 3rem;
}

footer .footer-container__first-row .footer-container__first-row-content .footer-icons img {
  margin: 0rem .5rem;
  width: 3rem;
  height: 3rem;
}

footer .footer-container__second-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 1rem;
}

footer .footer-container__second-row div {
  width: 90vw;
  border-bottom: 2px solid rgba(0, 0, 0, 0.178);
}

footer .footer-container__second-row p {
  font-size: 2rem;
  padding: 3rem;
  opacity: 60%;
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=main.css.map */