@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600;700&family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap');

$color-brown:  rgb(70,50,50);

html{
   scroll-behavior: smooth;
   font-family: 'Didact Gothic', sans-serif;
}
:root{
   font-size: 62.5%;
}
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

::-webkit-scrollbar {
   width: 1rem;              
 }
 
 ::-webkit-scrollbar-track {
   background: antiquewhite;
 }
 
::-webkit-scrollbar-thumb {
   background-color: gray;   
   border-radius: 2rem;      
   border: 3px solid antiquewhite;  
 }


.container{
   height: 100vh;
   scroll-snap-type: y mandatory;
   overflow-x: hidden;
   overflow-y: scroll;
}

section{
   display: flex;
   scroll-snap-align: start;
   height: 100vh;
   color: $color-brown;
}

#homepage{
   flex-direction: column;
   background-image: url(../images/p1.jpg);
   background-position: center;
   background-size: cover;
   background-color: antiquewhite;

 
   .homepage-header{
      width: 100vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem 3rem;
      font-size: 2rem;
      .nav-text{
         font-family: 'Raleway', sans-serif;
         font-weight: 700;
      }
      .homepage-header__center-item{
         display: flex;
         font-family: 'Raleway', sans-serif;;
         ul {
             display: flex; 
         }
         li {
            list-style-type: none; 
            padding: 0rem 4rem;
            cursor: pointer;
         }
      }
      .hamberger-menu{
         border-top: 1px solid black;
      }
   }

   nav{
      display: flex;
      justify-content: center;
      font-size: 6rem;
   }


   .homepage__content-container{
      display: flex;
      justify-content: space-between;
      padding: 2rem
   }
   .homepage__left-side{
      margin: 2rem 0rem 0rem 5rem;
      width:35rem;
      font-size: 2.5rem;   
      
      .homepage-searchbox{
         display: flex;
         margin-top: 2rem;
         border: 2px solid white;
         
         input{
            flex-grow: 2;
            border:none;
            padding: 1rem;
         }
         button{
            border: none;
         }
         i{
            background-color: $color-brown;
            color: white;
            padding: 1.1rem;
            font-size: 1.4rem;
            border: none;
            cursor: pointer;
         }
      }
      .homepage__view-detail-btn{
         border: none;
         background-color: $color-brown;
         color: white;
         padding: 1rem;
         margin-top: 2rem;
      }
   }

   .homepage__right-side{
      display: flex;
      font-size: 2rem;

      p{
         width: 30rem;
      }
      .horizontal-row{
         opacity: 0;
         margin: 1rem;
         border-top: 1px black solid;
         width: 6rem;
         transition: 1s;
      }
      .homepage-activeRow {
         animation: moveInRight 2s;  
         opacity: 1;
      }
      .homepage__right-side-text{
         opacity: 0;
      }
      .homepageRigtSideText-active{
         opacity: 1;
         animation: moveInRight 2s;
         animation-delay: 1s;
         animation-fill-mode: backwards;
      }
      i{
         color: rgb(225,151,114);
         font-size: 4rem;
         cursor: pointer;
         transition: 1s;
      }
      .rotate-icon {
         transform: rotate(45deg);
      }
   }
}

#some-of-our-lenders{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 25%;
   background-color: antiquewhite;
   font-size: 3rem;
   padding: 10rem;
   font-family: sans-serif;;
   h3{
      margin-top: 3rem;
   }
   .some-of-our-lenders__logos{
      display: flex;
      align-items: center;
      .chase-logo{
         width: 11rem;
         height: 2rem;
      }
      .asana-logo{
         width: 10rem;
         height: 2rem;
       }
      .google-logo{
         width: 9rem;
         height: 3rem;
      }
      .buzzfeed-logo{
         width: 10rem;
         height: 2rem;
      }
      .toggl-logo{
         width: 8rem;
         height: 3rem;
      }
      .walmart-logo{
         height: 8rem;
         width: 16rem;
         margin-top: -1rem;
      }
      img{
         margin: 2rem 2rem;
      }
   }
}


#about-us{
   display: flex;
   justify-content: center;
   align-items: center;
   
   .about-us__buy-now{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0rem 9rem; 
      
      h1{
         font-size: 6rem;
      }
      p{
         font-size: 2rem;
         margin-top: 1rem;
         width: 20rem;
      }
      button{
         border: none;
         font-size: 2rem;
         padding: .5rem;
         margin-top: 2rem;
         background-color: $color-brown;
         color: white;
         box-shadow: .5rem 1.5rem 3rem rgba(0, 0, 0, 0.247);
         cursor: pointer;
      }
      .about-us__left-img{
         width: 36rem;
         height: 33rem;
         margin-top: 4rem;
      }
   }
   .about-us__texts-read-more{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 2rem;
      margin-left: 13rem;
      .about-us__rigt-img{
         margin-top: 1rem;
         width: 36rem;
         height: 33rem;
      }
      p{
         width: 36rem;
         font-size: 1.5rem;
         margin-top: 1rem;
      }
      button{
         border: 1px solid $color-brown;
         font-size: 2rem;
         padding: .5rem;
         margin-top: 2rem;
         background: transparent;
         color: $color-brown;
         cursor: pointer;

      }
   }
}


#products{
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 130vh;
   padding-bottom: 3rem;
   scroll-margin-bottom: 40vh;

   h1{
      text-align: center;
      font-size: 6rem;
      margin: 1rem;
   }
   h3{
      color: #255764;
   }
   .products-nav__text{
      font-size: 2rem;
      margin: .5rem;
   }

   .products-image-caption{
      display: flex;
      justify-content: center;

      .products_sub-text{
         display: flex;
         flex-direction: column;
         margin-top: 2rem;

         p{
            font-size: 1.5rem;
         }
         .products-border{
            border-bottom: 2px solid black;
            width: 5rem;
            margin: .5rem;
         }
      }
      .products-image-caption__shop-btns{
         display: flex;
         justify-content: center;
         margin-top: 2rem;
         button{
            padding: 1rem;
            margin: 1rem;
            font-size: 1rem;
         }
         .shop-btns__add-to-cart{
            color: $color-brown;
            background: transparent;
            border: 1px solid $color-brown;
         }
         .shop-btns__buy-now{
            background-color: $color-brown;
            border: none;
            color: whitesmoke;
         }
      }

      .products-left,
      .products-right{
         margin: 0rem 10rem;
         flex-direction: column;
      }
      .products-left{
 
         width: 50%;
         img{
            margin-top: 3rem;
            width: 40rem;
            height: 40rem;
         }
         h1{
            text-align: left;
         }

         .products-short-specifics{
            display: flex;
            justify-content: center;
         }
      }
      .products-right{
         img{
            margin-top: 3rem;
            width: 40rem;
            height: 40rem;
         }

         h1{
            text-align: left;
         }
      }
      .products-left__text,
      .products-right__text{
         width: 40rem;
         font-size: 1.5rem;
      }
   
      .products-short-specifics{
         display: flex;
         justify-content: center;
         width: 100%;
         font-size: 1rem;
         display: flex;

         .products_sub-text{
            width: 50%;
            font-size: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            h3{
               font-size: 2rem;
            }
         }
      }
   }
}

#provides-page{

   display: flex;
   flex-direction: column;
   align-items: center;
   p{
      opacity: 80%;
   }
   .provide-page-first-row{
      width: 100%;
      background-color: #FFFBF7;
      display: flex;
      justify-content: space-around;
      font-size: 3rem;
      padding: 3rem 4rem;
      text-align: center;
      .provides-page-wrapper{
         height: 6rem;
         border-left: 2px solid black;
         margin: 0rem 4rem;
      }
   }

   .provide-page-second-row{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0rem 15rem;
      margin-top: 4rem;
      
      img{
         box-shadow: antiquewhite -3rem 3rem 0rem;
         width: 50rem;
         height: 50rem;
      }

      .provide-page-second-row__text{
         margin-left: 6rem;
         width: 35rem;
         
         h1{
            font-size: 5rem;
         }
         p{
            font-size: 2rem;
         }
         button{
            border: none;
            padding: 1rem 3rem;
            background-color: $color-brown;
            color: white;
            margin-top: 2rem;
         }
      }
   }
}

#customers-page{
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   background-color: #FFFBF7;
   
   .customers-page__quotes{
      display: flex;
      width: 100%;
      justify-content: space-around;
   }
   .customers-page__text{
      h1{
         font-size: 5rem;
      }
      p{
         font-size: 2rem;
         width: 61rem;
         margin-top: 2rem;
         opacity: 80%;
      }   
   }
   .customers-page__sample-container{
      display: flex;
      justify-content: center;
   }
   .customers-page__sample-comment{
      font-size: 2rem;
      text-align: left;
      margin-top: 4rem;
   }

   .customers-page__sample{
      display: flex;
      width: 40rem;
      height: 40rem;
      padding: 3rem;
      margin-top: 6rem;
      background-color: white;
      position: relative;

      .customers-page__sample-stars,
      .customers-page__sample-comment,
      .customers-page__sample-profile {        
         position: absolute;
      }
      .customers-page__sample-stars{
         i{
            color: #FF8974;
         }
      }
      .customers-page__sample-profile {
         display: flex;
         bottom: 2rem;
         img{
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
            object-fit:cover;
         }
         .customers-page__sample-profile-name{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
            margin-left: 2rem;
            font-size: 1.5rem;
         }
      } 
   }
}


footer{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;

   height: 70vh;
   scroll-snap-align: start;
   width: 100%;
   position: relative;

   .footer-container__first-row{
      display: flex;
      justify-content: space-around;
      width: 100%;
      .footer-container__first-row-right{
         display: flex;
         width: 40%;
         justify-content: space-around;
      }

      .footer-container__first-row-content{
         display: flex;
         flex-direction: column;

         h2{
            font-size: 3rem;
         }
         p{
            font-size: 2rem;
         }
         ul{
            list-style-type: none;
            li{
               font-size: 2rem;
               opacity: 70%;
            }
            .footer-go-to-up{
               margin-top: 1.5rem;
               a{
                  text-decoration: none;
                  color: white;
                  background-color: black;
                  padding: 0.7rem;
                  font-size: 1.5rem;
               }
            }
         }

         .footer__wildling-text{
            width: 30rem;
         }
          
         .footer-icons{
            margin-top: 3rem;
            img{
               margin: 0rem .5rem;
               width: 3rem;
               height: 3rem;
            }
         }
      }
   }

   .footer-container__second-row{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      bottom: 1rem;

      div{
         width: 90vw;
         border-bottom: 2px solid rgba(0, 0, 0, 0.178) ;

      }
      p{
         font-size: 2rem;
         padding: 3rem;
         opacity: 60%;
      }
   }
}



@keyframes moveInRight {
   0%{
      opacity: 0;
      transform: translateX(-2rem);
   }

   100%{
      opacity: 1;
      transform: translateX(0);
   }
}