@import "_reset";
@import "_mixins";
@import "_animations";

body {
   background-color: #eef0ff;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

#main-container {
   overflow: hidden;
   background-color: white;
   padding: 3rem;
   min-width: 63vw;
   border-radius: 1rem;
   box-shadow: 0rem 1rem 2rem 2px rgba(128, 128, 128, 0.267),
      inset 0rem 0rem 20rem 0px rgba(177, 177, 177, 0.178);
   border: 1px solid rgba(128, 128, 128, 0.171);
}

.main-container-sub {
   position: relative;
   transition: 2s;
}

.show-menu {
   transform: translate(-53%, 0%);
}
.modal-hamburger-open {
   display: block;
}
.modal-hamburger-open-hidden {
   display: none;
}
.close-ham-btn {
   display: none;
}
.show-close-btn {
   display: block;
}

#menu-container {
   display: flex;
   @include flex-center;
   position: absolute;
   transform: translate(200%, -100%);

   transition: 2s;
   height: 100%;
   width: 50%;
   margin: 0rem 3rem;
   border-radius: 1rem;

   background-color: #e4c9c7;
   color: white;
   font-size: 3rem;
   text-align: center;
}

i {
   font-size: 2rem;
   color: #5f64a5;
}
#header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 1.5rem;
   color: #5f64a5;
   .header__search {
      display: flex;
   }
   button {
      background-color: transparent;
      outline: none;
      border: none;
      cursor: pointer;
   }
   form {
      &:focus-within {
         outline: 1px solid gray;
         padding: 1rem 2rem;
      }
      box-shadow: 0rem 1rem 2rem 2px rgba(128, 128, 128, 0.205);
      border: 1px solid rgba(128, 128, 128, 0.096);
      border-radius: 1rem;
      padding: 1rem;
      margin-right: 4rem;
      transition: 1.5s all;
      input {
         background-color: transparent;
         border: none;
         outline: none;
         font-size: 1.7rem;
      }
   }
}

#first-container {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   min-height: 30vh;
   height: 50%;
   width: 100%;
   padding: 3rem;
   margin: 2rem 0rem;

   background-image: url(../images/flower.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   color: white;
   text-shadow: 1px 1px 1px black;

   border-radius: 1rem;
   box-shadow: 0rem 1rem 2rem 2px rgba(128, 128, 128, 0.445);
   .first-container__overal-left {
      display: flex;
      flex-direction: column;
      text-align: left;

      img {
         width: 5rem;
         height: 5rem;
         transition: 2s all;
      }
      h1 {
         display: inline-block;
         line-height: 9rem;
         font-size: 11rem;
         margin-bottom: 1rem;
      }
      p {
         font-size: 2rem;
      }
   }
   .first-container__overal-right {
      text-align: right;
      h3 {
         font-size: 3rem;
      }
      p {
         font-size: 2rem;
      }
   }
}

#second-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   img {
      width: 5rem;
      height: 5rem;
   }
   .second-container__left-first-row,
   .second-container__left-second-row {
      background-color: white;
      display: flex;
      box-shadow: 0rem 1rem 2rem 2px rgba(128, 128, 128, 0.411);
      border: 1px solid rgba(128, 128, 128, 0.171);
      border-radius: 1rem;
      padding: 1rem;
   }

   .second-container__humidity,
   .second-container__UV,
   .second-container__sunset,
   .second-container__sunrise {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 1rem;
      padding: 1rem;
   }
   .second-container__left-text {
      font-size: 1.8rem;
      margin-left: 1rem;
   }

   .second-container__left-second-row {
      display: flex;
      justify-content: space-between;
      margin-top: 3rem;
      padding: 1rem 3rem;
      font-size: 2rem;

      background: rgb(153, 177, 250);
      background: linear-gradient(
         90deg,
         rgba(153, 177, 250, 1) 0%,
         rgba(124, 144, 254, 1) 100%
      );
      div {
         display: flex;
         flex-direction: column;
      }
   }
}

.chart-container {
   position: relative;
   width: 60%;
}
// #myChart {
//    width: 32vw;
// }
