@import '_reset';

body{
   display: flex;
   justify-content: center;
   position: relative;
   height: 100vh;
   width: 100vw;
   background-image: url(./../images/desktopBackground.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: bottom;

   font-family: 'Cabin', sans-serif;
}

header{
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 2rem 3rem;

   .accountBtn{
      text-decoration: none;
      color: black;
   }
}

.main{
   position: absolute;
   width: 50%;
   display: flex;
   justify-content: center;
   bottom: 7rem;
}
.sub-main{
   display: flex;
   flex-direction: column;
   justify-content: center;
   
}
.container{
   display: flex;
   padding: 4rem;
   background-color: #28292db0;
   border-radius: 1rem 1rem 0 0;

   .container__destination,
   .container__checkIn,
   .container__checkOut{
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      background: transparent;
      margin: 0 2rem;
      
      label{
         font-size: 1.8rem;
         margin-bottom: .5rem;
      }
   }
}
input{
   text-align: center;
   border: none;
   background-color: transparent;
   color: white;
   cursor: pointer;
}
input::placeholder {
   color: rgb(187, 187, 187);
}

.btn--primary{
   padding: 1rem;
   cursor: pointer;
   transition: 1s;
}
.btn--primary:hover{
   background-color: #f5b9047c;
}


// FOR IPHONE X 
@media screen and (min-width:375px) and (max-width:375px){
   body{
      background-image: url(../images/iphoneX.jpg);
      
   }   

   h1{
      color: white;
   }
   .accountBtn{
      color: white !important;
   }

      .container{
      flex-direction: column;

      
      .container__checkIn,
      .container__checkOut{
         margin-top: 5rem;
      }
   }
}

// FOR IPAD 
@media screen and (min-width:768px) and (max-width:768px){
   body{
      background-image: url(../images/ipad.jpg);
      h1{
         font-size: 3rem;
         color: white;
      }
   }

   .accountBtn{
      color: white !important;
   }

      .container{
      flex-direction: column;
      
      .container__checkIn,
      .container__checkOut{
         margin-top: 5rem;
      }
   }
   
   input{
      font-size: 2.6rem;
   }
}

// FOR IPAD PRO
@media screen and (min-width:1024px) and (max-width:1024px){
   body{
      background-image: url(../images/ipad.jpg);
      h1{
         font-size: 3rem;
         color: white;
      }
   }

   .accountBtn{
      color: white !important;
   }

   .container{
      
      flex-direction: column;
            
   .container__checkIn,
   .container__checkOut{
         margin-top: 5rem;
      }
   }
   input{
      font-size: 4.5rem;
   }
   button{
      font-size: 3rem;
   }
   .labels{
      font-size: 5rem;
   }
}
