html{
   scroll-behavior: smooth;
}
:root{
   font-size: 62.5%;
   font-family: 'Poppins', sans-serif;
}

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

::-webkit-scrollbar {
   width: 1.6rem;
   height: 2rem;              
 }
 ::-webkit-scrollbar-button {
   height: 8rem; 
 }
 ::-webkit-scrollbar-track {
   background: white;
   border-radius: 1rem;
 }
 
::-webkit-scrollbar-thumb {
   background-color: gray;   
   border-radius: 2rem;      
   border: 3px solid white;  
 }

button{
   cursor: pointer;
   transition: 1s;
}

ul,li{
   list-style-type: none;
}