@import '_reset';
@import '_fonts';
$myitem: '.container-main-searchbox';

body{
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background: rgb(255,182,224);
   background: radial-gradient(circle, rgba(255,182,224,1) 0%, rgba(202,229,242,1) 100%);
}


#container{
   display: flex;
   justify-content: center;
   height: 90%;
   box-shadow: -50px 120px 100px -100px #00000059;

   border:solid #edf0fa62;
   border-width: 3px 0px 0px 3px;
   border-radius: 3rem;
   overflow-y: none;
//  --------------
// |main container|
//  --------------
.container_main{
      display: flex;
      flex-direction: column;
      background-color: rgba(255, 255, 255, 0.253);
      width: 48vw;
      padding: 4rem 10rem;
     
      h1{
         font-size: 2rem;
      }

      .container-main-searchbox{
         display: flex;
         align-items: center;
         margin: 4rem 0rem 2rem -1rem;
         padding: 0rem 3rem;
         background-color: #f6f1f5;
         border: 2px solid white;
         border-radius: 8rem;
         transition: 1s;
         &:focus {
            background-color: white;
         }
         i{
            font-size: 2rem;
            color: gray;
            margin-right: 3rem;
            cursor: pointer;
         }
         input{
            flex-grow: 2;
            border: none;
            outline: none;
            font-size: 2rem;
            margin: 0rem;
            background-color: transparent;
         }
         #search-suggestions{
            background-color: rgba(245, 245, 245, 0.426);
         }
         button{
            &:hover{
               box-shadow: none;
               background: linear-gradient(
                  51deg, #26225c 100%, #4719a6);
               color: rgb(184, 184, 184);
               transition: 2s;
            }
            
            border: none;
            border-radius: 8rem;
            padding: 1.5rem 3rem;
            margin: 0.5rem -2rem;
            font-size: 2rem;
            color: white;
            box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.507);
            background: rgb(38,34,92);
            background: linear-gradient(
               51deg, #26225c 35%, #4719a6);
         }
      }
      .container_main-text{
         p{
            padding: 1.5rem;
            text-align: center;
            background-color: rgba(128, 128, 128, 0.116);
            border-radius: 1.5rem;
            color: rgb(0, 0, 0);
            font-size: 1.5rem;
         }
      }

   .job-lists{
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      scroll-behavior: smooth;
      margin-top: 2rem;
      filter: drop-shadow(0 0 0.75rem rgba(14, 14, 14, 0.185));
      .job{

         background-color: white;
         padding: 2.5rem;
         border-radius: 2rem;
         margin: 1rem 1rem .5rem 0rem;
      }
      .job-status{
         display: flex;
         justify-content: space-between;

         }
         p{
            font-size: 1.5rem;
         }
         
      }
      .job-status-wrapper{
         display: flex;
         align-items: center;
         img{
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
         }
         .job-status_first-row{
            display: flex;
            flex-direction: column;
            
            h1{
               font-size: 1.5rem;
               margin-left: 3rem;
            }
            .job-status_first-row-sub-c{
               display: flex;
               align-items: center;
               p{
                  font-size: 1.5rem;
                  color: gray;
               }
               i{
                  display: flex;
                  align-items: center;
                  font-size: 1.5rem;
                  margin-right: 1rem;
                  color: #26bbfb;
               }
            }
            .job-status_first-row-sub{
               display: flex;
               margin: 0rem 3rem;

            }
         }
      }
      .job-status-price{
         flex-direction: column;
         text-align: right;
         margin-top: .5rem;
         h3{
            font-size: 1.5rem;
         } 
         p{
            color: gray;
         } 
      }
      .job-status-more{
         padding-top: 2rem;
         .job-tags{
            display: flex;
            p{
               margin: 2rem 2rem 0rem 0rem;
               background-color: #f1eafc;
               color: #6945b7;
               padding: 1rem;
               border-radius: 1rem;
            }
         }
      }
   }
}
//  --------------
// |main container END|
//  --------------
   aside{
      display: flex;
      flex-direction: column;
      padding: 4rem;
      text-align: center;
   }

#aside-left{
      display: flex;
      
      background-color: #d9afd91a;
      background-image: linear-gradient(0deg, #d9afd928 0%, #97dae118 100%);
      border-radius: 3rem 0rem 0rem 3rem;
      width: 34rem;
      padding: 4rem 5rem ;
      
      i{
         display: flex;
         justify-content: center;
         align-items: center;
         border-radius: 50%;
         margin: 1.5rem 0rem;
         
         background-color: white;
         color: #9193a8;
         width: 5rem;
         height: 5rem;
         font-size: 2.5rem;
      }
      .aside-left-icon{
         display: flex;
         align-items: center;
         margin: .5rem 0rem;
         transition: 1s;
         opacity: 0.8;
         p{
            font-size: 1.7rem;
            margin-left: 2rem;
            cursor: pointer;
            transition: 1s;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            user-select: none;
         }
      }
      .aside-left-icon:hover{
         transform: translateX(1rem);
         transition: 1s;
         p{
            font-size: 2rem;
            transition: 1s;
         }
      }
      .aside-left-icon-first{
         P{
            cursor:default;
            font-size: 2rem;
         }
         margin-bottom: 3rem;
         i{
            background: rgb(39,33,95);
            background: linear-gradient(59deg, rgba(39,33,95,1) 0%, rgba(69,24,164,1) 70%);
            color: white;
            padding: 3rem;
         }
      }
      .aside-left-icon-first:hover{
         transform: translateX(0rem);
      }

      .selected{
         font-weight: 600;
         text-shadow: 1px 1px 2px  rgba(0, 0, 0, 0.438);
         transition: none;
         opacity: 1;
      }
      .selected-icon{
         color: #5214cf !important;
      }
}

#aside-right{
   display: flex;
   flex-direction: column;
   background-color: #faf3f9dc;
   border-radius: 0rem 3rem 3rem 0rem;
   z-index: 0;
   .account{
      display: flex;
      position: relative;
      img{
         width: 6rem;
         height: 6rem;
         border-radius: 50%;
         margin-right: 1rem;
      }
      i{
         cursor: pointer;
      }
   }
   .profile-modal{
     display: none;
     transition: 2s;
   //   animation: upToDawn 2s ;
   }
   .profile-modal-active{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: absolute;
      top: 7rem;
      padding: 6rem 6rem;
      border-radius: 1rem;
      background-color:white;
      color: black;
      box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.159);
      transform: translateY(0rem);
      animation: upToDawn 2s;
      h1{
         margin: 0.5rem 0rem;
         cursor: pointer;
      
      }
   }
   .user-name{
      display: flex;
      flex-direction: column;
      align-items:flex-start;
      justify-content: center;
      .user-name_first{
         display: flex;
         align-items: center;
      }
      h3{
         margin-right: 2rem;
         font-size: 1.5rem;
      }
      p{
         font-size: 1.4rem;
      }
   }

   .aside-right-filter{
      margin-top: 5rem;
      text-align: left;
      
      input.checkbox{
         padding: 2rem;
         color: red;
         background-color: red;
      }
      h2{
         font-size: 2rem;
      }
      .aside-right-wrapper{
         border-top: 2px solid rgb(226, 226, 226);
         margin: 1rem 0rem 3rem 0rem;
         width: 21rem;
      }
      
      .filter-tags{
         font-size: 1.5rem;
         margin-top: 2rem;
         
         span{
            color: gray;
         }
      }
      .aside-right-type-work-text{
         margin-top: 4rem;
      }
   }
}

@keyframes upToDawn{
   0%{
      opacity: 0;
      transform: translateY(-5rem);
   }
 
   100%{
      opacity: 1;
      transform: translateY(0rem);
   }
}